<div class="container">
    <div class="bartender-sidebar">
      <div class="logo-sidebar">
        <img src="/images/flying-dutchman-logo.png" class="logo-img-sidebar">
      </div>
      <div class="searchbar"><input id="searchbar" type="search" placeholder="Search.."><span><button id="searchbutton"><i id="searchglass" class="fa fa-search"></i></button></span></div>
      <div>
        <ul>
          <li><a href="#manage-stock"><i class="fa fa-book" aria-hidden="true"></i><span data-i18n="manage-stock"></span></a></li>
          <li><a href="#table-orders"><i class="fa fa-table" aria-hidden="true"></i><span data-i18n="table-orders"></span></a></li>
          <li><a href="#security"><i class="fa fa-shield" aria-hidden="true"></i><span data-i18n="security"></span></a></li>
          <li><a href="#" id="sign-out-button"><i class="fa fa-sign-out" aria-hidden="true"></i><span data-i18n="log-out"></span></a></li>
          <!--- BROKEN ->
          <li class="menu-language-li"><a href="#" onclick="menuLanguage()"><img class="img-language" src="\images\united-kingdom.png"><span class="menu-language-text"> English</span></a></li>-->
        </ul>
      </div>
      <!---- Language switching buttons --->
      <div class="menu-language-container">
        <div class="language-left">
          <input type="image" id="swedish-button" class="language-button" src="/images/sweden.png" onclick="setLanguage('sv')">
        </div>
        <div>
          <input type="image" id="english-button" class="language-button" src="/images/united-kingdom.png" onclick="setLanguage('en')">
        </div>
      </div>
  </div>
    <div class="bartender-content" id="insertMenuBartender">
      <div class="menu-title">All items</div>
      <div></div>
      <div class="filter-box">
        <label for="filter" class="filter-text-style">Filter:</label>
        <select name="filter" id="filter" class="filter-dropdown">
          <option value="none">None</option>
          <option value="content-50">Alcohol content <50%</option>
          <option value="content-30">Alcohol content <30%</option>
          <option value="gluten-free">Gluten-free</option>
        </select>
      </div>
    </div>
  </div>
  <div class="bartender-footer">
    <div class="bartender-cart">
      <p class="cart-title">Cart</p>
    </div>
  </div>