<div class="container">
    <div class="sidebar">
        <div class="logo-sidebar">
            <img src="/images/flying-dutchman-logo.png" class="logo-img-sidebar">
        </div>
        <div class="searchbar"><input id="searchbar" type="search" placeholder="Search.."><span><button id="searchbutton"><i id="searchglass" class="fa fa-search"></i></button></span></div>
        <div>
            <ul>
                <li><a href="#all"><i class="fa fa-book" aria-hidden="true"></i><span data-i18n="all-items"></span></a></li>
                <li><a href="#beer"><i class="fa fa-beer" aria-hidden="true"></i><span data-i18n="beer"></span></a></li>
                <li><a href="#wine"><i class="fa fa-glass" aria-hidden="true"></i><span data-i18n="wine"></span></a></li>
                <li><a href="#cocktail"><i class="fa fa-glass" aria-hidden="true"></i><span data-i18n="cocktail"></span></a></li>
                <li><a href="#cartl"><i class="fa fa-shopping-cart" aria-hidden="true"></i><span data-i18n="cart"></span></a></li>
                <li><a href="#" data-link="home"><i class="fa fa-sign-out" aria-hidden="true"></i><span data-i18n="log-out"></span></a></li>
            </ul>
        </div>
        <!---- Language switching buttons --->
        <div class="menu-language-container">
            <div class="language-left">
                <input type="image" class="language-button swedish-button" src="/images/sweden.png" onclick="changeLanguage('sv')">
            </div>
            <div>
                <input type="image" class="language-button english-button" src="/images/united-kingdom.png" onclick="changeLanguage('en')">
            </div>
        </div>
    </div>
    <div class="product-content">
    <div class="parent-navbar">
      <div class="child-navbar left-navbar" onclick="onClickBackToMenu()">
        <a href="#"><i class="backward-color fa fa-arrow-left backward-logo"></i></a>
      </div>
    </div>
    <div class="product-title-container">
      <h1><span data-i18n="invoice"></span></h1>
    </div>
    <div class="split-bill-links">
      <a class="split-bill-link-left"><span data-i18n="edit-split" onclick="onClickSplitBills()"></span></a>
      <a><span data-i18n="cancel-split"></span></a>
    </div>
    <div class="order-table">
      <table class="full-table-width" id="order-list">
        <tr>
          <th class="order-product-title table-header"><span data-i18n="products"></span></th>
          <th class="order-product-price table-header"><span data-i18n="price"></span></th>
        </tr>
      </table>
    </div>
    <div id="total-bill">
      <p class="total-counter"><span data-i18n="total"></span></p>
    </div>
    </div>
</div>
<div class="footer">
    <div class="cart" ondrop="drop(event)" ondragover="allowDrop(event)">
        <p class="cart-title">Add to cart</p>
    </div>
</div>