<div class="container">
    <div class="sidebar">
        <div class="logo-sidebar">
            <img src="/images/flying-dutchman-logo.png" class="logo-img-sidebar">
        </div>
        <div class="searchbar"><input id="searchbar" type="search" placeholder="Search.."><span><button id="searchbutton"><i id="searchglass" class="fa fa-search"></i></button></span></div>
        <div>
            <ul>
                <li><a href="#" onclick="onClickAllMenu()"><i class="fa fa-book" aria-hidden="true"></i><span data-i18n="all-items"></span></a></li>
                <li><a href="#" onclick="onClickBeer()"><i class="fa fa-beer" aria-hidden="true"></i><span data-i18n="beer"></span></a></li>
                <li><a href="#" onclick="onClickWine()"><i class="fa fa-glass" aria-hidden="true"></i><span data-i18n="wine"></span></a></li>
                <li><a href="#" onclick="onClickNonAlcohol()"><i class="fa fa-coffee" aria-hidden="true"></i><span data-i18n="non-alcohol"></span></a></li>
                <li><a href="#" data-link="cart"><i class="fa fa-shopping-cart" aria-hidden="true"></i><span data-i18n="cart"></span></a></li>
                <li><a href="#" data-link="home"><i class="fa fa-sign-out" aria-hidden="true"></i><span data-i18n="log-out"></span></a></li>
            </ul>
        </div>
        <!---- Language switching buttons --->
        <div class="menu-language-container">
            <div class="language-left">
                <input type="image" class="language-button swedish-button" src="/images/sweden.png" onclick="changeLanguage('sv')">
            </div>
            <div>
                <input type="image" class="language-button english-button" src="/images/united-kingdom.png" onclick="changeLanguage('en')">
            </div>
        </div>
    </div>
    <div class="product-content">
    <div class="parent-navbar">
      <div class="child-navbar left-navbar" onclick="onClickBackToMenu()">
        <a href="#"><i class="backward-color fa fa-arrow-left backward-logo"></i></a>
      </div>
    </div>
    <div class="product-title-container">
      <h1><span data-i18n="invoice"></span></h1>
    </div>
    <div class="split-bill-links">
      <a class="split-bill-link-left"><span data-i18n="edit-split" data-link="split-bill"></span></a>
      <a><span data-i18n="cancel-split"></span></a>
    </div>
    <div class="order-table">
      <table class="full-table-width" id="order-list">
        <tr>
          <th class="order-product-title table-header"><span data-i18n="products"></span></th>
          <th class="order-product-price table-header"><span data-i18n="price"></span></th>
        </tr>
      </table>
    </div>
    <div id="total-bill">
      <p class="total-counter"><span data-i18n="total"></span></p>
    </div>
    </div>
</div>

<!--THE MODAL-->
<div id="successful-payment" class="modal" onclick="onClickOutsideClose()">
  <!-- Modal content -->
  <div class="modal-content">
    <span id="close" onclick="onClickButtonClose()">&times;</span>
    <h3><span data-i18n="order-successful"></span></h3>
    <p><span data-i18n="bartender-come"></span></p>
  </div>
</div>

<!--&lt;!&ndash;-&#45;&#45; SPLIT BILL -&#45;&#45;&ndash;&gt;-->
<!--<div class="product-content display-none" id="split-bill">-->
<!--  <div class="parent-navbar">-->
<!--    <div class="child-navbar left-navbar" onclick="onClickBackToMenu()">-->
<!--      <a href="#"><i class="backward-color fa fa-arrow-left backward-logo"></i></a>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="product-title-container" id ="split-bill-title">-->
<!--    <h1><span data-i18n="how-many-split"></span></h1>-->
<!--  </div>-->
<!--  <div>-->
<!--    <form class="increase-decrease-container">-->
<!--      <div class="value-button decrease" onclick="decreaseValue('number-splitbill')" value="Decrease Value">-</div>-->
<!--      <input type="number" id="number-splitbill" value="0" />-->
<!--      <div class="value-button increase" onclick="increaseValue('number-splitbill')" value="Increase Value">+</div>-->
<!--    </form>-->
<!--  </div>-->
<!--</div>-->
<!--&lt;!&ndash;&#45;&#45; SPLIT BILL CHOOSE ITEMS &#45;&#45;&ndash;&gt;-->
<!--<div class="product-content display-none" id="split-bill-choose">-->
<!--  <div class="parent-navbar">-->
<!--    <div class="child-navbar left-navbar" onclick="onClickBackToSplitBillHome()">-->
<!--      <a href="#"><i class="backward-color fa fa-arrow-left backward-logo"></i></a>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="product-title-container split-bill-display">-->
<!--    <div class="filter-box split-bill-filter-box">-->
<!--      <label for="filter-splitbill" class="filter-text-style split-bill-filter"><span data-i18n="select-splitbill"></span> </label>-->
<!--      <select name="filter-splitbill" id="filter-splitbill" class="filter-dropdown split-bill-onchange" onchange="">-->
<!--      </select>-->
<!--    </div>-->
<!--    <h1><span data-i18n="items-basket"></span></h1>-->
<!--  </div>-->
<!--  <div id="split-bill-list">-->
<!--  </div>-->
<!--  <div id="split-bill-products"></div>-->
<!--</div>-->

<!--- FOOTER PLACE ORDER--->
<div class="footer" id="place-order-footer" onclick="onClickPlaceOrder()">
  <div class="cart">
    <p class="footer-title" id="place-order-title"><span data-i18n="place-order"></span></p>
  </div>
</div>
<!--&lt;!&ndash;- FOOTER CONTINUE PART 1-&ndash;&gt;-->
<!--<div class="footer display-none" id="continue-footer">-->
<!--  <div class="cart">-->
<!--    <p class="footer-title" id="continue-title" onclick="onClickContinue()"><span data-i18n="continue"></span></p>-->
<!--  </div>-->
<!--</div>-->
<!--&lt;!&ndash;- FOOTER CONTINUE PART 2-&ndash;&gt;-->
<!--<div class="footer display-none" id="continue-footer-2">-->
<!--  <div class="cart">-->
<!--    <p class="footer-title" id="continue-title-2" onclick=""><span data-i18n="continue"></span></p>-->
<!--  </div>-->
<!--</div>-->