<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Customer home page</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<!--- Customer main page -->
<div class="main-container">
    <!--- Nav bar -->
    <div class="parent-navbar">
        <div class="child-navbar left-navbar">
            <a href="index.html"><i class="fa fa-chevron-left backward-logo"></i></a>
        </div>
        <div class="child-navbar right-navbar">
            <img src="/images/flying-dutchman-logo.png" class="logo-right-navbar">
        </div>
    </div>
    <!--- Title -->
    <div class="title-container title-navbar-container">
        <h4 id="customer-title">Welcome, beloved customer!</h4>
    </div>
    <!--- Buttons -->
    <div class="elements-container">
        <!--TODO: To put the onclick function on a javascript file.-->
        <a href="sign-in.html"><button class="button-style" id="sign-in-button" type="button">Sign in</button></a>
    </div>
    <div class="elements-container" id="guest-container">
        <p>or <a href="menu.html" id="guest-style">continue as guest</a></p>
    </div>
</div>
</body>
</html>