<!--- Customer main page -->
<div class="main-container">
    <!--- Nav bar -->
    <div class="parent-navbar">
        <div class="child-navbar left-navbar">
            <a href="home.html"><i class="fa fa-chevron-left backward-logo"></i></a>
        </div>
        <div class="child-navbar right-navbar">
            <img src="/images/flying-dutchman-logo.png" class="logo-right-navbar">
        </div>
    </div>
    <!--- Title -->
    <div class="title-container title-navbar-container">
        <h4 id="customer-title">Welcome, beloved customer!</h4>
    </div>
    <!--- Buttons -->
    <div class="elements-container">
        <!--TODO: To put the onclick function on a javascript file.-->
        <button class="button-style" id="button-sign-in" type="button">Sign in</button>
    </div>
    <div class="elements-container" id="guest-container">
        <p>or <a href="#" id="link-guest">continue as guest</a></p>
    </div>
</div>