<!-- Title --->
<div class="title-container homepage-container">
    <img src="/images/flying-dutchman-logo.png" />
</div>
<!--- Buttons -->
<div class="elements-container">
    <button class="button-style main-page-button" id="button-is-customer" type="button" data-i18n="i-am-customer"></button>
    <button class="button-style main-page-button" id="button-is-bartender" type="button" data-i18n="i-am-bartender"></button>
</div>
<!---- Language switching buttons --->
<div class="language-container">
    <input type="image" class="language-button swedish-button" src="/images/sweden.png" onclick="changeLanguage('sv')">
    <input type="image" class="language-button english-button" src="/images/united-kingdom.png" onclick="changeLanguage('en')">
</div>