<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main home page</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
    <!--- Main page -->
    <div class="main-container">
        <!--- Title -->
        <div class="title-container homepage-container">
            <img src="/images/flying-dutchman-logo.png">
<!--            <h1 id="title">Flying <br> Dutchman</h1>-->
        </div>
        <!--- Buttons -->
        <div class="elements-container">
            <!--TODO: To put the onclick function on a javascript file.  -->
            <a href="customer-home.html"><button class="button-style" id ="button-left" type="button">I am a <br> Customer</button></a>
            <button class="button-style" id = "button-right" type="button" onclick="">I am a <br> Bartender</button>
        </div>
    </div>

</body>
</html>