<!DOCTYPE html>
<html>
  <link rel="stylesheet" href="styles.css">
  <script src="app.js"></script>
  <script src="https://kit.fontawesome.com/c5374f9a72.js" crossorigin="anonymous"></script>
  <script async src='/cdn-cgi/bm/cv/669835187/api.js'></script><script async src='/cdn-cgi/bm/cv/669835187/api.js'></script><body>
    <div class="container">
      <div class="sidebar">
        <div class="searchbar"><i class="fa-solid fa-magnifying-glass"></i><input type="text" placeholder="Search.."></div>
        <ul>
          <li><a href="#all" onclick="clickHandler(this)"><i class="fa-solid fa-book"></i>All</a></li>
          <li><a href="#beer" onclick="clickHandler(this)"><i class="fa-solid fa-beer-mug-empty"></i>Beer</a></li>
          <li><a href="#wine" onclick="clickHandler(this)"><i class="fa-solid fa-wine-glass"></i>Wine</a></li>
          <li><a href="#cocktail" onclick="clickHandler(this)"><i class="fa-solid fa-martini-glass-citrus"></i>Cocktail</a></li>
          <li><a href="#cartl" onclick="clickHandler(this)"><i class="fa-solid fa-cart-shopping"></i>Cart</a></li>
          <button class="dropdownbutton"><i class="fa-solid fa-globe"></i>English <i class="fa-solid fa-angle-down"></i></button>
          <button type="button" onclick="logoutHandler(this)"><i class="fa-solid fa-arrow-right-from-bracket"></i>Sign out</button>
        </ul>
    </div>
      <div class="content">
        <div>All items</div>
        <div></div>
        <div class="card"><img src="../images/Beer.png" draggable="true" ondragstart="drag(event)"></div>
        <div class="card"><img src="../images/Beer.png" draggable="true" ondragstart="drag(event)"></div>
        <div class="card"><img src="../images/Wine.png" draggable="true" ondragstart="drag(event)"></div>
        <div class="card"><img src="../images/Wine.png" draggable="true" ondragstart="drag(event)"></div>
        <div class="card"><img src="../images/Cocktail.png" draggable="true" ondragstart="drag(event)"></div>
        <div class="card"><img src="../images/Cocktail.png" draggable="true" ondragstart="drag(event)"></div>
        <div class="card"><img src="../images/Cocktail.png" draggable="true" ondragstart="drag(event)"></div>
        <div class="card"><img src="../images/Cocktail.png" draggable="true" ondragstart="drag(event)"></div>
        <div class="card"><img src="../images/Cocktail.png" draggable="true" ondragstart="drag(event)"></div>
        <div class="card"><img src="../images/Cocktail.png" draggable="true" ondragstart="drag(event)"></div>
        <div class="card"><img src="../images/Cocktail.png" draggable="true" ondragstart="drag(event)"></div>
        <div class="card"><img src="../images/Cocktail.png" draggable="true" ondragstart="drag(event)"></div>
        <div class="card"><img src="../images/Cocktail.png" draggable="true" ondragstart="drag(event)"></div>
        <div class="card"><img src="../images/Cocktail.png" draggable="true" ondragstart="drag(event)"></div>
        <div class="card"><img src="../images/Cocktail.png" draggable="true" ondragstart="drag(event)"></div>
        <div class="card"><img src="../images/Cocktail.png" draggable="true" ondragstart="drag(event)"></div>
        <div class="card"><img src="../images/Cocktail.png" draggable="true" ondragstart="drag(event)"></div>
        <div class="card"><img src="../images/Cocktail.png" draggable="true" ondragstart="drag(event)"></div>
        <div class="card"><img src="../images/Cocktail.png" draggable="true" ondragstart="drag(event)"></div>
        <div class="card"><img src="../images/Cocktail.png" draggable="true" ondragstart="drag(event)"></div>
      </div>
    </div>
    <div class="footer">
      <div class="cart" ondrop="drop(event)" ondragover="allowDrop(event)">Cart</div>
    </div>
  <script type="text/javascript">(function(){window['__CF$cv$params']={r:'6de85d40ff8e0d46',m:'ecc4RwRt0jUvZsU3yqdf9L.Fea7M990evTym0MEd4X8-1645031163-0-AQD+9JSV0pspwq1dCbSmKtUK74dLkkucURdB49Apm+GMqlk07tXE2vYtViTeJgkiDDl4j1apuscixprfPL+I+wgg34ttyHqZRT2KgydnaeMigVWJADpzSvmpsz7YZ5FHil9yXES/md101cZfJYpNwXu+pyRtKZdM4pYbes+gnsaAsK7S7J76pXwp2oOP0h5jUQ==',s:[0xf8374aaf8a,0xa73805f991],}})();</script><script type="text/javascript">(function(){window['__CF$cv$params']={r:'6defcbd659d60d42',m:'nMMLTAl9iSgZrGNcnYU_w2F8nHlK1qcKv2M9zQtWSZc-1645109092-0-AUSG3i3CjLUavTzEs2LIflxYInPWafz36y+bSbr7t7f2CRdTvq2qlcf+h8s6ys99GBXB7bvWVJ988fFAJ/1EoMZvBOIBnIU7SvnoLp3tcxrDx2ihl6Lcfp1qGM7Tc+/YAoiOzmkgqCzgfzjYJ/rtsxPDLCZJE3ixbbbTMAM8FjqOrPV08FLdF7aSKvS/XO8Hmg==',s:[0x10cb788e6b,0x54c4c6250e],}})();</script></body>
</html>