<div class="container">
  <div class="sidebar">
    <div class="logo-sidebar">
      <img src="/images/flying-dutchman-logo.png" class="logo-img-sidebar">
    </div>
    <div class="searchbar"><input id="searchbar" type="search" placeholder="Search.."><span><button id="searchbutton"><i id="searchglass" class="fa fa-search"></i></button></span></div>
    <div>
      <ul>
        <li><a href="#all"><i class="fa fa-book" aria-hidden="true"></i><span data-i18n="all-items"></span></a></li>
        <li><a href="#beer"><i class="fa fa-beer" aria-hidden="true"></i><span data-i18n="beer"></span></a></li>
        <li><a href="#wine"><i class="fa fa-glass" aria-hidden="true"></i><span data-i18n="wine"></span></a></li>
        <li><a href="#cocktail"><i class="fa fa-glass" aria-hidden="true"></i><span data-i18n="cocktail"></span></a></li>
        <li><a href="#cartl" id="to-cart"><i class="fa fa-shopping-cart" aria-hidden="true"></i><span data-i18n="cart"></span></a></li>
        <li><a href="#" id="sign-out-button"><i class="fa fa-sign-out" aria-hidden="true"></i><span data-i18n="log-out"></span></a></li>
      </ul>
    </div>
    <!---- Language switching buttons --->
    <div class="menu-language-container">
      <div class="language-left">
        <input type="image" id="swedish-button" class="language-button" src="/images/sweden.png" onclick="setLanguage('sv')">
      </div>
      <div>
        <input type="image" id="english-button" class="language-button" src="/images/united-kingdom.png" onclick="setLanguage('en')">
      </div>
    </div>
</div>
  <div class="content" id="insertMenu">
    <div class="menu-title">All items</div>
    <div></div>
    <div class="filter-box">
      <label for="filter" class="filter-text-style">Filter:</label>
      <select name="filter" id="filter" class="filter-dropdown">
        <option value="none">None</option>
        <option value="content-50">Alcohol content <50%</option>
        <option value="content-30">Alcohol content <30%</option>
        <option value="gluten-free">Gluten-free</option>
      </select>
    </div>
  </div>
</div>
<div class="footer">
  <div class="cart" ondrop="drop(event)" ondragover="allowDrop(event)">
    <p id="cart-title">Cart</p>
  </div>
</div>