<div class="container">
  <!--- SIDEBAR --->
  <div class="sidebar">
    <!---- Logo --->
    <div class="logo-sidebar">
      <img src="/images/flying-dutchman-logo.png" class="logo-img-sidebar">
    </div>
    <!---- Search Bar --->
    <div class="searchbar"><input id="searchbar" type="search" placeholder="Search.."><span><button id="searchbutton"><i id="searchglass" class="fa fa-search"></i></button></span></div>
    <!---- Menu Selection --->
    <div>
      <ul>
        <li><a href="#" onclick="onClickAllMenu()"><i class="fa fa-book" aria-hidden="true"></i><span data-i18n="all-items"></span></a></li>
        <li><a href="#" onclick="onClickBeer()"><i class="fa fa-beer" aria-hidden="true"></i><span data-i18n="beer"></span></a></li>
        <li><a href="#" onclick="onClickWine()"><i class="fa fa-glass" aria-hidden="true"></i><span data-i18n="wine"></span></a></li>
        <li><a href="#" onclick="onClickNonAlcohol()"><i class="fa fa-coffee" aria-hidden="true"></i><span data-i18n="non-alcohol"></span></a></li>
        <li><a href="#" data-link="cart"><i class="fa fa-shopping-cart" aria-hidden="true"></i><span data-i18n="cart"></span></a></li>
        <li><a href="#" data-link="home"><i class="fa fa-sign-out" aria-hidden="true"></i><span data-i18n="log-out"></span></a></li>
      </ul>
    </div>
    <div>
      <ul>
        <li><a onclick="doUndo()"><i class="fa fa-undo" aria-hidden="true"></i><span data-i18n="undo"></span></a></li>
        <li><a onclick="doRedo()"><i class="fa fa-repeat" aria-hidden="true"></i><span data-i18n="redo"></span></a></li>
      </ul>
    </div>
    <!---- Language switching buttons --->
    <div class="menu-language-container">
      <div class="language-left">
        <input type="image" class="language-button swedish-button" src="/images/sweden.png" onclick="changeLanguage('sv')">
      </div>
      <div>
        <input type="image" class="language-button english-button" src="/images/united-kingdom.png" onclick="changeLanguage('en')">
      </div>
    </div>
  </div>
  <!-- Content Menu Home -->
  <div class="content-container" id="menu-home">
    <h4><span data-i18n="instructions"></span></h4>
  </div>
  <!-- Content Products List -->
  <div class="content display-none" id="insertMenu">
    <!-- Title -->
    <div id="menu-title"><span data-i18n="all-items"></span></div>
    <!---Filter--->
    <div class="filter-box">
      <label for="filter" class="filter-text-style"><span data-i18n="filter"></span></label>
      <select name="filter" id="filter" class="filter-dropdown" onchange="changeFilter()">
        <option value="none">None</option>
        <option value="content-30-50">Alcohol content 30-50%</option>
        <option value="content-10-30">Alcohol content 10-30%</option>
        <option value="content-10">Alcohol content 10%</option>
      </select>
    </div>
  </div>
  <!-- Content Product Page -->
  <div class="product-content display-none" id="product-page">
    <div class="parent-navbar product-image" style="background-image: url('/images/wine-real.jpeg');">
      <div class="child-navbar left-navbar" onclick="onClickBackToMenu()">
        <a href="#"><i class="menu-back fa fa-arrow-left backward-logo"></i></a>
      </div>
    </div>
    <div class="product-title-container" id="main-info">
    </div>
    <div class="product-information">
      <h3><span data-i18n="stock-available"></span>: 1</h3>
      <p><span data-i18n="additional-info"></span></p>
      <ul class="ul-list" id="additional-info">
      </ul>
    </div>
    <form class="increase-decrease-container">
      <div class="value-button decrease" onclick="decreaseValue('number-product')" value="Decrease Value">-</div>
      <input type="number" id="number-product" value="0" />
      <div class="value-button increase" onclick="increaseValue('number-product')" value="Increase Value">+</div>
    </form>
  </div>
</div>

<!--- FOOTER/CART --->
<div class="footer" id="cart-footer">
  <div class="cart" ondrop="drop(event)" ondragover="allowDrop(event)" data-link="cart">
    <p class="footer-title" id="cart-title"><span data-i18n="cart"></span></p>
  </div>
</div>
<!--- FOOTER/ADD TO CART --->
<div class="footer display-none" id="add-to-cart-footer">
  <div class="cart" onclick="addItem()">
    <p class="footer-title" id="add-to-cart-title"><span data-i18n="add-to-cart"></span></p>
  </div>
</div>