<!--- Sign in page -->
<div class="main-container">
    <!--- Nav bar -->
    <div class="parent-navbar">
        <div class="child-navbar left-navbar">
            <a href="#" id="back-customer-home"><i class="fa fa-chevron-left backward-logo"></i></a>
        </div>
        <div class="child-navbar right-navbar">
            <img src="/images/flying-dutchman-logo.png" class="logo-right-navbar" />
        </div>
    </div>
    <!---VIP Customer title--->
    <div class="title-container title-navbar-container">
        <h4 id="customer-title" data-i18n="vip-customer"></h4>
    </div>
    <!--- Username and password input -->
    <form class="form-container">
        <label for="uname"><span data-i18n="username"></span>:
            <input type="text" id="uname" name="uname" class="login"><br><br>
        </label>
        <label for="password"><span data-i18n="password"></span>:
            <input type="password" id="password" name="password" class="login"><br>
        </label>
    </form>
    <!--- Sign in button -->
    <div class="elements-container">
        <a href="#" id="login"><button class="button-style" id="sign-in-button" type="button" data-i18n="signin"></button>
        </a>
    </div>
    <!---- Language switching buttons --->
    <div class="language-container">
        <input type="image" class="language-button swedish-button" src="/images/sweden.png" onclick="changeLanguage('sv')">
        <input type="image" class="language-button english-button" src="/images/united-kingdom.png" onclick="changeLanguage('en')">
    </div>
</div>